@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  background-color: #b2a4d4;
}

.bg {
  background-color: #b2a4d4;
  color: #fffd74;
}

.nav-link {
  color: #fffd74;
  text-align: justify;
}
